.dash {
    width: 100%;
}

.grafico {
    margin-top: 30px;
    height: 350px;
}

#myChart {
    height: 300px;
}

.kpi {
    justify-content: space-evenly;
    margin-top: 30px;
    height: 100px;
    width: 100%;
}

.card_kpi {
    height: 100%;
    width: 200px;
    border-radius: 30px;
    text-align: center;
}

.card_kpi {
    font-size: 20px;
}

.content, .grafico {
    display: flex;
    justify-content: center;
}