* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Home e Header */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.page {
    height: 100vh;
    width: 100vw;
}

.box, .header{
    display: flex;
    align-items: center;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #2D5731;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    text-decoration-color: #90EE90;
}

.header-content-left {
    justify-content: center;
    height: 100%;
    width: 5%;
}

.arrow-up, .arrow-down {
    width: 50px;
    font-size: 50px;
    cursor: pointer;
}    
    
.arrow-up {
    color: white;
}

.arrow-down {
    display: none;
    color: #2D5731;
}

.header-content-right {
    justify-content: space-evenly;
    height: 100%;
    width: 95%;
}

.btn-logout {
    width: 60px;
    height: 60%;
    border-radius: 180px;
    cursor: pointer;
    background-color: #c91010;
    color: #FFF;
    justify-content: center;
    text-align: center;
}

.left-logo, .right-logo{
    justify-content: space-evenly;
    height: 100%;
    width: 40%;
}

.logo {
    height: 100%;
    width: 170px;
}

.button {
    color: #FAE57F;
}

.button-selected {
    color: #90EE90;
}

.content {
    height: 90%;
    justify-content: center;
}

/* Matemágica */

.card, .title{
    background-color: #2D5731;
    color: #FFF;
    width: 600px;
    flex-direction: column;
    border-radius: 10px;
}

.card {
    height: 450px;
    text-align: center;
    padding: 10px;
}

.card input {
    border: 2px solid #32cd9f;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin: 0;
}

.botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #b39501;
    width: 140px;
    height: 50px;
    align-self: center;
    margin-top: 25px;
}

.title {
    margin: 20px 0 20px 0;
}

.formulario {
    flex-direction: column;
    justify-content: space-evenly;
    height: 280px;
}

.previsao {
    margin-bottom: 20px;
}